<style>
  /* Footer*/ .learningmaterial{ color:gray; display: block; /* Make sure
  max-width is added */ max-width: 100%; height: 70px; } .brands { display:
  grid; grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); grid-gap:
  1rem; } .brands ul{ list-style-type: none; } .brands li{ list-style-type:
  none; } .brands__item img { display: block; /* Make sure max-width is added */
  max-width: 100%; height: 70px; } .brands__item img { /* Other styles */
  object-fit: contain; } .brands__item img { width: 130px; height: 75px;
  object-fit: contain; }

</style>

<ul class="brands">
  <li class="brands__item">

    <a href="https://www.utcsheffield.org.uk/olp/">
      <img        src="https://www.utcsheffield.org.uk/olp/assets/sites/3/2021/07/UTC-Sheffield-Olympic-Legacy-Park-Horizontal.svg" alt="UTC OLP Sheffield Logo"
      />
    </a>
  </li>
  <li class="brands__item">

    <a href="https://prismic.io/">
      <img
        src="https://cdn.glitch.global/00ac46c6-350f-4899-952d-2e564638b14f/prismic-logo-black.svg?v=1645358174946" alt="prismic logo"
      />
    </a>
  </li>
  <li class="brands__item">

    <a
      class="btn--remix"
      target="_top"
      href="https://glitch.com/edit/#!/remix/ethel-prismic-demo"
    >
      <img
        src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
        alt="Glitch logo"
      />
    </a>
  </li>

  <li class="learningmaterial">
    This the starting point of a student project, please forgive the styling.
  </li>

</ul>


<script src="https://button.glitch.me/button.js"></script>