@import url("/style.css"); /* Using a url */

:root {
  --primary: purple;
  --secondary: yellow;
  --background: white;
  --surface: white; 
  --on-primary: white;
  --on-secondary: black;
  --on-background: black;
  --on-surface: black;
  
  }